

header {
    background-color: brown;
    padding: 10px;
}

header p {
    text-align: center;
    color: white;
}

nav {
    background-color: black;
    padding: 5px
}

nav p {
    text-align: center;
    color: white;
}

section {
    /* padding-top: 0.5%; */
    /* padding-bottom: 0.5%; */
    border: 10px solid turquoise;

}

table {
    width: 100%;
}

td {
    font-size: 20px;
    border: 1px solid white;
    text-align: center;
    padding: 77px;
}

tr:first-child  td:first-child, tr:first-child td:nth-child(2),
tr:nth-child(2) td:first-child, tr:nth-child(2) td:nth-child(2) {
    background-color: beige;
}

tr:first-child td:nth-child(3), tr:first-child td:nth-child(4),
tr:nth-child(2) td:nth-child(3), tr:nth-child(2) td:nth-child(4) {
    background-color: rgb(0, 162, 255);
}

tr:nth-child(3) td:first-child, tr:nth-child(3) td:nth-child(2),
tr:nth-child(4) td:first-child, tr:nth-child(4) td:nth-child(2) {
    background-color: blue;
}

tr:nth-child(3) td:nth-child(3), tr:nth-child(3) td:nth-child(4),
tr:nth-child(4) td:nth-child(3), tr:nth-child(4) td:nth-child(4) {
    background-color: yellow;
}

footer {
    background-color: gray;
    padding: 10px;
}

footer p {
    text-align: center;
    color: white;
}